
/* BODY AND GENERAL CODE */
html {
	scroll-behavior: smooth;
}

body{
	margin: 0px; /*Tar bort den vita bordern runt banner och footer*/
	background: linear-gradient(to bottom, #899BC6, #515B74);
	background-attachment: fixed;
}

a, a:visited, a:active {
    text-decoration: none;
	color: #F2B202;
}

a:hover{
	text-decoration: none;
	color: #BF8E06;
}

li{
	list-style: none;
}

ul{
	justify-content: center;
	padding:0;
	margin: 0 0 5vw 0;
}

input::placeholder{
	position: absolute;
}

.baloo{
	font-family: 'Baloo', sans-serif;
}

.baloo2{
	font-family: 'Baloo2', sans-serif;
}

.yellow{
	color: #F2B202;
}

.white{
	color: white;
}

.bold{
	font-weight: bold;
}

.red_fade{
	background:linear-gradient(to right,#DA3333,#741B1B);
}

.green_fade{
	background:linear-gradient(to right,#1BBE39,#1A892E);
}

.text_shadow{
	text-shadow: 1px 1px 2px black;
}

.review_gray{
	background-color: #E2E8F5;
}

.box_shadow{
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}


/* PRINT RELATED CODE */
@media print {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

	nav, footer, .text_size_container{
		display: none;
	}
}


/* NAV-BAR RELATED CODE */

nav{
	background: linear-gradient(to right,#021C2D, #085B93);
	position: fixed; 
	top: 0;
	width: 100%;
	z-index: 1000;
}

.banner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navtext{
	padding-right: 3vw;
	display: flex;
	gap: 20px;
}

.text_size_container{
	background-color: #D9D9D9;
	position: fixed;
	height: auto;
	border-radius: 5%;
	margin: 0vw 0 5vw 0.1vw;
	width: auto;
	display: flex;
	gap: 0.3vw;
	padding-left: 0.2vw;
	border: black;
	border-style: solid;
	border-width: 0.1vw;
}

.text_size_container p {
	margin: 0.25vw auto;
	text-align: center;
}

.button_container{
	display: flex;
}

.button_container button{
	background-color: #D9D9D9;
	border-width: 0 0 0 0.1vw;
	height: auto;
}

/* FOOTER RELATED CODE */

footer{
	background-color:#085B93;
	position:static;
	bottom:0;
	width:100%;
	z-index: 1000;
	padding: 0;
	margin-top: 3vw;
	
}

.footer_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.logo_footer{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.logo_footer img {
	margin: 0 auto;
}

.footer_textbox{
	text-align: center;
	margin: 0 auto;
}

.footer_textbox h3 {
	margin: 5vw 0 0 0;
}

.footer_textbox a {
	color: white;
}

.footer_textbox a:hover {
	color: #F2B202;
}


/* MENY RELATED CODE */

.page_title_container{
	width: 100%;
	display: flex;
	margin: 125px 0 20px 0;
}

.page_title_container img{
	margin: 0 auto;
	max-width: 480px;
	height: auto;
}

.meny_container{
	background-color: #484F61;
	max-width: 75%;
	margin: 0 auto;
	height: auto;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	padding:0 19.2px 15px 19.2px;
	overflow: hidden;
}

.meny_title_container {
	padding-left: 15px;
	margin: 0 auto;
	margin-top: 1vw;
	width: 99%; 
    height: 45px; 
    border-radius: 20px;
    text-align: center; 
	justify-content: center;
}

.meny_title_container_content{
	display: flex;
	height: 100%;
	text-align: center;
	align-items: center;
	justify-content: space-between;
}

.meny_title_container_content img{
	height: 100%;
}

.meny_title_container_content h3{
	font-size: 16pt;
}

.meny_options_container{
	display: flex;
	justify-content: space-between;
	padding: 0 1vw 0 1vw;
}

.meny_textbox{
	display: flex;
	gap: 2vw;
	font-size: 15pt;

}

.price_textbox{
	font-size: 15pt;
}

.meny_divider {
	margin: 0 0.5vw 0 0.5vw;
	max-width: 100%; 
    height: 10px;
    border-radius: 20px;
}


/* BILDGALLERI RELATED CODE */

.pictures_container_background{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 50%;
	padding: 5px;
	margin: 0 auto;
	background: linear-gradient(to bottom, #FFFFFF, #999999);
	gap: 2vw;
	border-radius: 1vw;
	overflow: hidden;
}

.pictures_container img{
	max-width: 360px;
	height: auto;
	border-radius: 20px;
}


/* AVHÄMTNING RELATED CODE */

.page_info_container{
	display: flex;
	flex-wrap: wrap;
}

.info_textbox{
	margin: 0 auto 30px auto;
	padding: 0 10px 0 10px;
	background-color: green;
	max-width: 60%; 
	height: auto;
    border-radius: 20px;
	text-align: center;
}

.picture_background{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	padding: 10px 10px 10px 10px;
	margin: 0 auto;
	gap: 20px 250px;
	border-radius: 1vw;
	overflow: hidden;
}

.avhämtning_picture_container img{
	width: 480px;
	height: 360px;
	border-radius: 20px;
}


/* LUNCH RELATED CODE */

.lunch_container{
	background-color: #484F61;
	margin: 100px auto 100px auto;
	max-width: 65%;
	gap: 50px 45px;
	justify-content: center;
	height: auto;
	border-radius: 5px;
	display: flex;
	flex-wrap: wrap;
	padding: 25px 25px 25px 25px;
	overflow: hidden;
	z-index: 1000;
}

.lunch_ img {
	top: 0;
	margin: 0;
}

.video_container{
	width: 35%;
	height: auto;
}
.video_container video{
	width: 100%;
	height: 100%;
	border-radius: 20px;
}

.lunch_container iframe{
	border-radius: 10px;
}

.lunch_textbox{
	background-color: green;
	width: 55%;
	border-radius: 10px;
	padding: 15px 15px 15px 15px;
	font-size: 16pt;
	text-align: center;
}


/* RECENSIONER RELATED CODE */

.recensioner_background {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 30%;
	padding: 10px 10px 10px 10px;
	margin: 0 auto;
	gap: 20px 100px;
	border-radius: 1vw;
	overflow: hidden;
}

.username_container input {
	border-radius: 10px;
	border-width: 0;
	height: 30px;
	width: 100%;
	padding-left: 5px;
}

.rating_container
{
	display: flex;
	border-radius: 10px;
	height: 30px;
	align-items: center;
}

.star{
	font-size: 24pt;
	color: #878682;
	cursor: pointer;
}

.star:hover{
	color: #F2B202;
}

.review_container {
	width: 30%;
	margin: 0 auto;
}

.review_textbox textarea {
	border-radius: 10px;
	border-width: 0;
	height: 100px;
	width: 100%;
	padding-left: 5px;
	resize: none;
}

.submit_container{
	padding-left: 35vw;
	margin-top: 10px;
}

.submit_container button{
	border-radius: 10px;
	border-width: 0;
	cursor: pointer;
	height: 30px;
	width: 10%;
}

.placeholder_reviews_comtainer{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap:30px 150px;
	width: 60%;
	margin-top: 25px;
	margin: 25px auto;
}

.placeholder_reviews_comtainer img{
	width: 360px;
	height: auto;
}


/* KONTAKTA OSS RELATED CODE */

.form_container{
	background-color: #484F61;
	max-width: 50%;
	margin: 150px auto;
	height: auto;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	padding:0 19.2px 15px 19.2px;
}

.form_info_container{
	text-align: center;
}

.form_info_container p{
	color: white;
	font-family: 'Baloo2', sans-serif;
	text-shadow: 1px 1px 2px black;
}

.form_section_container{
	width: 100%;
}

.form_section_container h5{
	margin-bottom: 0;
	color: #F2B202;
	font-family: 'Baloo2', sans-serif;
	text-shadow: 1px 1px 2px black;
}

.form_section_container input {
	border-radius: 5px;
	border: none;
	height: 20px;
	padding: 15px 5px;
	width: 100%;
	box-sizing: border-box;
}

.form_section_container textarea {
	resize: none;
	border-radius: 5px;
	border: none;
	height: 65px;
	padding: 5px 5px;
	width: 100%;
	box-sizing: border-box;
}

.checkbox_container {
	display: flex;
	gap: 5px;
}

.checkbox_container input {
	margin-left: 0;
	transition: color 0.4s linear;

}

.submit_form_container{
	display: flex;
}

.submit_form_container input{
	margin: 0 auto;
	border-radius: 20px;
	border: none;
	width: 125px;
	height: 50px;
	cursor: pointer;
	transition-duration: 0.5s;
	font-size: 20pt;
}

.submit_form_container input:hover{
	background-color: green;
	color: white;
	transition-duration: 0.5s;
}


/* INDEX RELATED CODE */

.top_background_container{
	margin-top:0;
	width: 100%;
	position: relative;
	min-height: 500px;
	opacity: 75%;
	background-image: url("img/background.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom left;
	border-radius: 30px;
	overflow: hidden;
	display: flex;
	justify-content: end;
	padding-top: 90px;
}

.image_container {
	max-width: 50%;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	padding-right: 15px;
	font-size: 16pt;
}

.image_container img {
	width: 360px;
	height: auto;
	margin: 0 auto;
}

.Button{
	background-color: lightcyan;
	color: black !important;
	padding: 5px 5px;
	border-radius: 8px;
	transition: transform 0.2s ease;
	display: block;
	width: fit-content;
}

.Button:hover{
	background-color: darkcyan;
	color: black;
	transform: scale(1.1);
}

.home_meny-container{
	margin-top: 0;
	background-color: green;
}

.home_meny_container{
	display: flex;
	margin-top: 15px;
}

.pizza_container{
	background-image: url("img/pizza.png");
	background-size: cover;
	background-repeat: no-repeat;
	width: 50%;
	background-position: right;
	height: 500px;
	display: flex;
	align-items: center;
}

.pizza_text_container{
	margin: 0 auto;
	border-radius: 10px;
	background-color: #484f61af;
	width: 75%;
	height: auto;
	text-align: center;
}

.vegetarisk_container{
	background-image: url("img/vegetarisk\ pizza.png");
	background-size: cover;
	background-repeat: no-repeat;
	width: 50%;
	display: flex;
	align-items: center;
}

.recensioner_container {
	background: linear-gradient(to top, #999999, #FFFFFF);
	display: flex;
	flex-direction: column;
	padding-bottom: 15px;
}

.recensioner_textbox{
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.bildgalleri_title_container{
	display: flex;
	flex-direction: column;
	background-color: #021c2d40;
	margin-top: 50px;
	padding: 50px 0;
}

.bildgalleri_title_container h1{
	margin: 0 auto;
}

.bildgalleri_container {
	margin-top: 0;
	display: flex;
	background-color: #021c2d40;
	gap: 50px;
	padding-bottom: 25px;
}

.left_container{
	display: flex;
	flex-direction: column;
	width: 50%;
	row-gap: 50px;
	padding-left: 25px;
}

.right_container{
	display: flex;
	flex-direction: column;
	width: 50%;
	align-items: center;
	row-gap: 50px;
	padding-right: 25px;
}

.small_pictures_container{
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
	width: 100%;
	justify-content: center;
	box-sizing: border-box;
}

.big_pictures_container{
	display: flex;
	width: 100%;	
	box-sizing: border-box;
}

#one {
	width: 375px;
	height: auto;
	border-radius: 10px;
}

#two {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

.table_link_container{
	margin: 100px auto;
	width: 40%;
}

.table_link_textbox {
	width: 100%;
	padding: 7px 7px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	transition: transform 0.2s ease;
}

.table_link_textbox:hover{
	transform: scale(1.1);
}


/* TABLE PAGE RELATED CODE */

.table_background_container{
	margin-top: 100px;
	display: flex;
	align-items: center;
	height: 600px;
}

.table_container{
	text-align: center;
	margin: 0 auto;
}

.table_container table{
	width: 750px;
	height: auto;
}