
/* BODY AND GENERAL CODE */

body{
	margin: 0px; /*Tar bort den vita bordern runt banner och footer*/
	background: linear-gradient(to bottom, #899BC6, #515B74);
	background-attachment: fixed;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
	color: #F2B202;
}

li{
	list-style: none;
}

ul{
	justify-content: center;
	padding:0;
	margin: 0 0 5vw 0;
}

.baloo{
	font-family: 'Baloo', sans-serif;
}

.baloo2{
	font-family: 'Baloo2', sans-serif;
}

.yellow{
	color: #F2B202;
}

.white{
	color: white;
}

.bold{
	font-weight: bold;
}

.red_fade{
	background:linear-gradient(to right,#DA3333,#741B1B);
}

.green_fade{
	background:linear-gradient(to right,#1BBE39,#1A892E);
}

.text_size_container{
	background-color: green;
	position: fixed;
	border-radius: 15%;
	max-width: 10%;
	margin: 5vw 0 5vw 0;
	top: 0;
}

/* NAV-BAR RELATED CODE */

nav{
	background: linear-gradient(to right,#021C2D, #085B93);
	position: fixed; 
	top: 0;
	width: 100%;
	z-index: 1000;
}

.banner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navtext{
	padding-right: 3vw;
	display: flex;
	gap: 10px;
}

/* FOOTER RELATED CODE */

footer{
	background-color:#085B93;
	position:static;
	bottom:0;
	width:100%;
	z-index: 1000;
	padding: 0;
	margin-top: 3vw;
	
}

.footer_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.logo_footer{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.logo_footer img {
	padding-right: 2vw;
	margin: 0 auto;
}

.footer_textbox{
	text-align: center;
	margin: 0 5vw 0 5vw;
}

.footer_textbox h3 {
	margin: 5vw 0 0 0;
}

.footer_textbox a {
	color: white;
}

.footer_textbox a:hover {
	color: #F2B202;
}


/* MENY RELATED CODE */

.page_title_container{
	width: 100%;
	display: flex;
	margin: 12vw 0 5vw 0;
	align-items: center;
}

.page_title_container img{
	margin: 0 auto;
	width: 35vw;
	height: 12vw;
}

.meny_container{
	background-color: #484F61;
	margin: 0 6vw 0 6vw;
	height: auto;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	padding-bottom: 2vw;
	overflow: hidden;
}

.meny_title_container {
	padding-left: 2vw;
	margin: 0 auto;
	margin-top: 1vw;
	width: 85vw; 
    height: 3vw; 
    border-radius: 20px;
    text-align: center; 
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.meny_title_container_content{
	display: flex;
	height: 3vw;
	text-align: center;
	align-items: center;
	justify-content: space-between;
}

.meny_title_container_content img{
	height: 3vw;
	display: flex;
}

.meny_title_container_content h3{
	font-size: 1.5vw;
	text-shadow: 1px 1px 2px black;
}

.meny_options_container{
	display: flex;
	justify-content: space-between;
	padding: 0 1vw 0 1vw;
}

.meny_textbox{
	display: flex;
	gap: 2vw;
	font-size: 1.5vw;
	text-shadow: 1px 1px 2px black;

}

.price_textbox{
	text-shadow: 1px 1px 2px black;
	font-size: 1.5vw;
}

.meny_divider {
	margin: 0 0.5vw 0 0.5vw;
	max-width: 100%; 
    height: 1vw;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}